/* .swiper {
  width: 500px;
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  width: 100%;
} */
